<ion-header>
    <ion-button expand="block" color="secondary" [routerLink]="['/inventario']" routerLinkActive="router-link-active">
      <ion-icon name="pin"></ion-icon> </ion-button>
  
</ion-header>


<agm-map [latitude]="  4.662387"
 [longitude]=" -74.069037"
 [zoom]="18"
 [disableDefaultUI]="false"
 [zoomControl]="true"
 (mapClick)="mapClicked=($event)">



  <agm-marker
  *ngFor="let m = markers; let i = index"
 
  (markerClick)="(i)"
   [latitude]="  4.662387" 
  [longitude]=" -74.069037"
  [label]="m.label"
  [markerDraggable]="(m)"
  (dragEnd)="(m)">

  <agm-info-window>
     InfoWindow 
    </agm-info-window>
  
</agm-marker>

<agm-circle [latitude]="4.662387" [longitude]="-74.069037" 
[radius]="0"
[fillColor]="'turquoise'"
[circleDraggable]="true"
[editable]="true">
</agm-circle>
  <ion-content>
      <!-- fab placed to the top end -->
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      </ion-content>
  
</agm-map> 
