<ion-header>
  <ion-toolbar>
     <ion-button expand="block" color="secondary">
        <ion-icon name="menu" horizontal="start"></ion-icon>   buscar </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class= "let des of buttons" >

    <ion-img src="../../assets/img/vistafin.png"></ion-img>
    <br>
    <ion-icon name="pin" color= "secondary"></ion-icon>Parque los alcazares

    <br>
    <br>

    <ion-text color="secondary">_________________________________</ion-text>
    
    
    <br>
   <br>
    Aun no hay agregados puntos de inventario
    
   

  <!-- fab placed to the top end -->
  <ion-fab    vertical="bottom" horizontal="end" slot="fixed" color= "secondary" (click)= "presentActionSheet()">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
      <ion-fab-list >
          <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab-button>

    <p>
      TEST
    </p>

    
  </ion-fab>
</ion-content>



  